<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cool.yunlong.cloud.payment.dao.PaymentMapper">

    <resultMap id="BaseResultMap" type="cool.yunlong.cloud.commons.entity.Payment">
        <id column="id" property="id"/>
        <result column="serial" property="serial"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, serial
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM payment
        WHERE id = #{id}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM payment
    </select>

    <update id="updateByPrimaryKey" parameterType="cool.yunlong.cloud.commons.entity.Payment">
        UPDATE payment
        <set>
            <if test="serial != null">
                serial = #{serial}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <insert id="insert" parameterType="cool.yunlong.cloud.commons.entity.Payment">
        INSERT INTO payment(serial)
        VALUES (#{serial})
    </insert>


</mapper>